.arrow {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  opacity: 0;
  padding: 3px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: transform 0.4s ease-in-out, opacity 0.5s linear;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 48em) {
    width: 2.75rem;
    height: 2.75rem;
  }

  @media (min-width: 62em) {
    width: 3rem;
    height: 3rem;
  }

  @media (min-width: 75em) {
    width: 3.25rem;
    height: 3.25rem;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  &.show {
    opacity: 1;
    cursor: pointer;
  }

  &.down {
    transform: rotate(180deg);
  }
}
