.spinner {
  width: 1.875rem;
  height: 1.875rem;
  margin: auto;
  border: 3px solid var(--clr-text);
  border-radius: 50%;
  border-bottom-color: transparent;
  animation: load 0.75s infinite linear;

  @media (min-width: 48em) {
    width: 2.5rem;
    height: 2.5rem;
  }

  @media (min-width: 62em) {
    width: 3.125rem;
    height: 3.125rem;
  }

  @media (min-width: 75em) {
    width: 3.75rem;
    height: 3.75rem;
  }

  @media (min-width: 87.5em) {
    width: 4.375rem;
    height: 4.375rem;
  }
}

@keyframes load {
  0% {
    transform: rotate(0) scale(1);
  }
  10% {
    transform: rotate(36deg) scale(1.05);
  }
  20% {
    transform: rotate(72deg) scale(1.1);
  }
  30% {
    transform: rotate(108deg) scale(1.15);
  }
  40% {
    transform: rotate(144deg) scale(1.2);
  }
  50% {
    transform: rotate(180deg) scale(1.25);
  }
  60% {
    transform: rotate(216deg) scale(1.2);
  }
  70% {
    transform: rotate(252deg) scale(1.15);
  }
  80% {
    transform: rotate(288deg) scale(1.1);
  }
  90% {
    transform: rotate(324deg) scale(1.05);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
