.wrapper {
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: var(--clr-base-ui);
  border-radius: var(--radii);
  gap: 16px;
  width: 100%;
  min-width: 13em;
  box-shadow: var(--shadow);

  @media (min-width: 27em) {
    width: 24rem;
  }

  
  input {
    width: 100%;
    line-height: 2;
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    &::placeholder {
      color: var(--clr-input);
      opacity: 1;
    }
  }

  .closeIcon {
    cursor: pointer;
  }
}
