.item {
  width: 100%;
  font-size: 1rem;
  background-color: var(--clr-base-ui);
  color: var(--clr-text);
  border-radius: var(--radii);
  box-shadow: var(--shadow);
  overflow: hidden;
  text-decoration: none;

  .info {
    padding: 1rem 1rem 2rem 2rem;

    h3 {
      margin-bottom: 1rem;
    }

    span {
      font-weight: var(--fw-normal);
    }
  }
}
